# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk
*.pdb
*.sdf
*.suo
*.log
*.tlog
*.idb
*.lastbuildstate
gpu_ex_03_src/GlowingTeapot/GlowingTeapot.vcxproj
gpu_ex_03_src/PumpingTeapot/PumpingTeapot.vcxproj
gpu_ex_03_src/SSAA/SSAA.vcxproj
*.opensdf
gpu_ex_04_src/HairyBunny/HairyBunny.vcxproj.filters
*.cache
*.deps
